body {
    font: 32px "Century Gothic", Futura, sans-serif;
    margin: 40px;
  }
  
  ol, ul {
    padding-left: 40px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #D28776;
    border: 3px solid rgb(3, 3, 3);
    float: left;
    font-size: 80px;
    font-weight: bold;
    line-height: 34px;
    height: 150px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 150px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 50px;
  }
  
  #jumpButton {
      color:rgb(2, 11, 14);
      background-color: rgb(238, 231, 231);
      font-weight: bold;
      font-size: 20px;
  }